html,body{
    width: 100%;
    font-family: "腾祥铁山楷书繁","Times New Roman",Times,"Songti SC","SimSun","Microsoft YaHei",serif;
/* font-family: Lato,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif; */
    overflow-y: scroll;
}

body{
    background-image: url(../images/noise.png);
    font-size: 16px;
    font-weight: 500;
}

*{
    padding: 0px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "腾祥铁山楷书繁", Helvetica, Arial, "Hiragino Sans GB", sans-serif;
}

a {
  text-decoration: none;
  color: #0085ff;
}

a:hover {
  color: #102b6a;
}

#header {
  text-shadow: 0 0 1px #fff;
  margin: 0 auto 0;
  width: 90%;
}   

.alignleft{
    float: left;
}

.alignright{
    float: right;
}

#header a {
  color: #999;
}

#header h1 {
    font-weight: normal;
    font-size: 3.5em;
    line-height: 1;
}

#header a:hover {
  color: #0085ff;
  text-decoration: none;
}

#header #main-nav {
  font-family: "腾祥铁山楷书繁",Georgia, 'Times New Roman', Times, 'Songti SC', "SimSun", serif;
  line-height: 2.5em;
  padding-top: 15px;
}

#header #main-nav ul {
  list-style: none;
}

#header #main-nav ul li {
  float: left;
  margin-right: 30px;
}

#main{
    width: 90%;
    margin-left: 5%;
}

#left-content{
width: 73%;
float: left;
}


.article{   
    min-height: 200px;
    background-color: #fff;   
    margin-top: 50px;
    padding: 
}

#right-content{
    width: 23%;
    float: right;
}

.footer-name{
    text-align: center;
}

.bs-docs-footer-links {
    padding-left: 0;
    margin-top: -5px;
}

.bs-docs-footer-links li {
    display: inline;
}

.text-muted {
    color: #777;
    text-align: center;
    float: top;
}

/* 消除浮动影响 */
.clearfix::before, .clearfix::after,.clearfix {
    content: "";
    display: block;
}

/* 目录 */
#catalog{
    margin-top: 50px;
    min-height: 200px;
    background-color: #fff;   
}

/* 日历 */
#calendar{
    margin-top: 50px;
    height: 200px;
    background-color: #fff;   
}

#my-info{
    margin-top: 50px;
    height: 300px;
    background-color: #fff;   
}

#sina-blog{
    margin-top: 50px;
    height: 500px;
    background-color: #fff;   
}

/* 日历 */
#Body{
    text-align: center;
}

#Body  .bg-ok:hover{
    background-color: #78b3ed;
}


/* article设置*/
.arc-content{
    padding:10px 77px 30px;
}

article p{
   text-indent: 2em;
}
.icon{
    width: 28px;
    height: 28px;
    position: relative;
    top: 30px;
    left: -30px;
}

.arc-title{
    padding:0;
    margin: 0 auto 5px;
    text-align: center;
}

.arc-small-title{
    text-align: center;
    margin-bottom: 20px;
}

.arc-time{
    color: #78b3ed;
    padding-right: 15px;
    border-right: 1px  solid #777;
}

.arc-type{
    color: #78b3ed;
    padding-left: 15px;
}

/* #catalog,
#my-info,
#sina-blog{
    padding: 0;

} */

.right-title{
    margin: 10px 10px;
    padding: 3px 3px;
    border-bottom: 2px solid #777;
    font-size: 1.5em;
    position: relative;
    top: 5px;
}

